body{
    margin: 0;
}
.container{
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     background-color: #fff;
     margin: none;
}

.card{
    width: 100%;
    height: 640Spx;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fef8f5;
    color: black;
    padding: 30px 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.upper{
    display: flex;
    flex-direction: column;
    


}

.title{
    text-align: center;
    padding: 30px;

}

h2{
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 15px;
    color: #c2b7b1;
    font-family: "Quicksand",Sans-serif;
}

.title p{
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    color: #4e4039;
    font-family: "Segoe UI",Roboto;
}
.title p::after{
    
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: #eb5d1e;
    bottom: 0;
    left: calc(50% - 30px);
}

.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 20px;
    align-content: center;
}




.box{
    width: 240px;
    height: 370px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 12px;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    border-bottom: 3px solid #fff;
    cursor: pointer;  

    
    
}

.box:hover{
    transform: translateY(-5px);
    border-color: #ef7f4d;
}

.image{
    width: 200px;
    height: 200px;
    margin: 2px 20px;
    
}

.image_i{
    height: 190px;
    width: 190px;
   
    
}

h4{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Quicksand",sans-serif;
}

.box .courses{
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 4px;
    font-family: "Segoe UI",Roboto;
    margin-top: 2px;

}

hr{
    margin: 16px 0;
    color: inherit;
    background:#212529;
    width: 235px;
    
    
}

.see_d{

     align-content: center;
     margin: 0 37px;
     padding: 0 12px;
}
.details{
    background-color: #eb5d1e;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 25px;
    font-weight: 500;
    font-family: "Segoe UI",Roboto;
    
}